@import "common.css";
* {
    box-sizing: border-box;
}
html,
body,
#dashboardContainer {
    width:100%;
    height:100%;
}
#dashboardContainer {
    position:relative;
    padding:0 0 80px 80px;
}
#leftContainer {
    position:absolute;
    left:80px;
    top:0;
    bottom:0;
}
#footerContainer {
    position:absolute;
    bottom:0;
    left:80px;
    right:0;
    height:25vh;
    background:#f9f9f9;
}
#mapContainer {
    position:absolute;
    top:0;
    right:0;
    left:80px;
    height:75vh;
    background:#f9f9f9;
}
#mapContainer #map {
    height:100%;
    width:100%;
}